body,
html {
  line-height: 1;
  font-weigth: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}
[data-dpr="1"] .fontSize_12 {
  font-size: 12px !important;
}
[data-dpr="2"] .fontSize_12 {
  font-size: 24px !important;
}
[data-dpr="3"] .fontSize_12 {
  font-size: 36px !important;
}
[data-dpr="1"] .fontSize_14 {
  font-size: 14px !important;
}
[data-dpr="2"] .fontSize_14 {
  font-size: 28px !important;
}
[data-dpr="3"] .fontSize_14 {
  font-size: 42px !important;
}
[data-dpr="1"] .fontSize_16 {
  font-size: 16px !important;
}
[data-dpr="2"] .fontSize_16 {
  font-size: 32px !important;
}
[data-dpr="3"] .fontSize_16 {
  font-size: 48px !important;
}
[data-dpr="1"] .fontSize_18 {
  font-size: 18px !important;
}
[data-dpr="2"] .fontSize_18 {
  font-size: 36px !important;
}
[data-dpr="3"] .fontSize_18 {
  font-size: 54px !important;
}
[data-dpr="1"] .fontSize_20 {
  font-size: 20px !important;
}
[data-dpr="2"] .fontSize_20 {
  font-size: 40px !important;
}
[data-dpr="3"] .fontSize_20 {
  font-size: 60px !important;
}
[data-dpr="1"] .fontSize_22 {
  font-size: 22px !important;
}
[data-dpr="2"] .fontSize_22 {
  font-size: 44px !important;
}
[data-dpr="3"] .fontSize_22 {
  font-size: 66px !important;
}
[data-dpr="1"] .fontSize_24 {
  font-size: 24px !important;
}
[data-dpr="2"] .fontSize_24 {
  font-size: 48px !important;
}
[data-dpr="3"] .fontSize_24 {
  font-size: 72px !important;
}
[data-dpr="1"] .fontSize_26 {
  font-size: 26px !important;
}
[data-dpr="2"] .fontSize_26 {
  font-size: 52px !important;
}
[data-dpr="3"] .fontSize_26 {
  font-size: 78px !important;
}
[data-dpr="1"] .fontSize_28 {
  font-size: 28px !important;
}
[data-dpr="2"] .fontSize_28 {
  font-size: 56px !important;
}
[data-dpr="3"] .fontSize_28 {
  font-size: 84px !important;
}
[data-dpr="1"] .fontSize_30 {
  font-size: 30px !important;
}
[data-dpr="2"] .fontSize_30 {
  font-size: 60px !important;
}
[data-dpr="3"] .fontSize_30 {
  font-size: 90px !important;
}
